
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Foody Shop</title>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/css/site.css" rel="stylesheet" />
    <link href=' https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    @*<link href="~/css/site.css" rel="stylesheet" />*@

    <base href="/" />
    <style>
        body{
            padding:0px;
            margin:0px
        }

    </style>
</head>
<body>
    <!-- Header -->
    <header class="py-2" style="background-color: #36302C">
        <!-- Nav -->
        <div class="nav d-flex flex-row justify-content-between align-items-center px-4">
            <h2>
                <a href="/" style="color: #fff">
                    Foode
                </a>
            </h2>

            <!-- Cart-Icon -->
            <div class="d-flex  align-items-center gap-2 ">

                <a href="/cart" class=" px-4 py-1" style=" border: 0px solid #36302C; background-color: #36302C">
                    <i class='bx bx-shopping-bag' id="cart-icon" style="font-size: 20px !important; color: #fff"></i>
                </a>
               
                @await Html.PartialAsync("_LoginPartial")

            </div>
            <!-- Cart -->
            <!--<div class="cart">
            <h2 class="cart-title">Your Cart</h2>-->
            <!-- Content -->
            <!--<div class="cart-content">

            </div>-->
            <!-- Total -->
            <!--<div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">$0</div>
            </div>-->
            <!-- Buy Button-->
            <!--<a href="./checkout-page/Checkout.html"><button type="button" class="btn-buy">Buy Now</button></a>

            </div>-->
        </div>
    </header>
    <div class="container">

        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
    <script src="/lib//js/main.js"></script>
</body>
</html>